@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
body{
    font-family: Roboto;
    background: #f3d9e3;
    background-position: center;
}
img{
    width: 5 rem;
    height: 5 rem;
    border-radius: 500%;
    position: center;

}